img{
    width: 120px;
   }
.bg-menu{
    background-color: #eecfbc;
}
.navbar{
    padding: 10px 60px;
}
.nav-item{
    padding: 10px;
}
.nav-item.dropdown, .nav-link{
    padding: 10px 40px;
}
.text{
    font-size: 20px;
    font-weight: bold;
}
.bg-fundo{
    background-image: url(https://media.istockphoto.com/vectors/vector-rose-gold-marble-background-rose-gold-metallic-texture-trendy-vector-id1188200542?k=6&m=1188200542&s=170667a&w=0&h=kJgINoqkAatv7FriP6fUBEGBVglRszizJDPXuwAq6NM=);
}